.so-widget-sow-slider-base-d93fa49cdc2a .sow-slider-base .sow-slider-pagination li a {
  background: #FFFFFF;
}
.so-widget-sow-slider-base-d93fa49cdc2a .sow-slider-base .sow-slide-nav {
  font-size: 100px;
}
.so-widget-sow-slider-base-d93fa49cdc2a .sow-slider-base .sow-slide-nav a {
  color: #FFFFFF;
}
