.so-widget-sow-slider-base-090e4ab62744 .sow-slider-base .sow-slider-pagination li a {
  background: #FFFFFF;
}
.so-widget-sow-slider-base-090e4ab62744 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-base-090e4ab62744 .sow-slider-base .sow-slide-nav a {
  color: #FFFFFF;
}
